
html{
    min-width: 100vw;
    min-height: 100vh;
    background-image: radial-gradient(rgba(192,192,192,0.8), rgba(100,100,100,0.8));
}

#gamePickerHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.gamePickerColumn{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.gamePicker{
    width: 100%;
    height: 50px;
}

.guessColor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.guessHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.guessHolder > *{
    border: solid black 2px;
    padding: 5px;
}

