#guessCountDown{
    height: 250px;
    width: 250px;
    border: 1px dimgray solid;
    background: lightgray;
    margin: 5px;
}

#guessCountDown > *{
    margin: 0;
    text-align: center;
    line-height: 250px;
    font-size: 125px;
}

#guessNumberHolder{
    display: flex;
    flex-direction: row;
}

.guessNumber{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px dimgray solid;
    background: lightgray;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.wrong{
    background: red;
}

.correct{
    background: green;
}


