#image-holder{
 height: 250px;
 width: 250px;
}

#guessLetterHolder{
    display: flex;
    flex-direction: row;
}

.guessLetter{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px dimgray solid;
    background: lightgray;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.wrong{
    background: red;
}

.correct{
    background: green;
}

#word{
    display: flex;
    flex-direction: row;
}

#word p{
    width: 50px;
    height: 50px;
    border: 1px dimgray solid;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}


.wordLetter{
    background: #d0d0d0;
}

.unknownLetter{
    background: #505050;
}

